:root {
  --background: #ffffff;
  --foreground: #171717;
  --deep-green: #064e3b;
  --gold: #d4af37;
  --black: #000000; 
  --border-shadow: 6px 6px 20px 1px #000000;
  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: var(--deep-green);
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 768px) {
  .app-container {
    height: auto;
  }
}
